# Assignment 1

## Total: 45pts

### Part A - Write Code! (5pts)

For each item below, determine the appropriate Python code to generate the desired output.

---

1) Display your name and student ID to the console.

In [2]:
print("Bryce MacLeod W0436717")

Bryce MacLeod W0436717

Jane Doe W0123456

---

2) Create a variable, called __num__, to hold the integer value, __10__. Then, display the contents of the variable.

In [3]:
num = 10
print(num)

10

10

---

3) Create a variable to hold the name of your favourite TV character. Then, use string concatenation to display the message "My favourite TV star is: " with the variable contents appended. (e.g. "My favourite TV star is: Homer Simpson")

In [5]:
character = "Arthur Shelby"
print("my favourite TV star is: {0}".format(character))

my favourite TV star is: Arthur Shelby

My favourite TV star is: Homer Simpson

---

4) Display Santa Clause's catch phrase (Ho Ho Ho) using the string replication operator.

In [7]:
print("Ho "*3)

Ho Ho Ho

Ho Ho Ho

---

5) Create the Python statement to calculate the following mathematical expression: $2 + 3 \times 4 - 6 \div 3 $

In [8]:
ans = 2+3*4-6/3
print(ans)

12.0

12

---

### Part B - Fix the Error! (15pts)

Listed below are several snippets of code that contain small errors. For each of the questions, __correct the error__ so the code will generate the desired output.

---

6) Display a string of text on the screen.

In [9]:
print("This is a story about a man named Jed.")

This is a story about a man named Jed.

This is a story about a man named Jed.

---

7) Concatenate a string and a decimal number.

In [31]:
print("PI =",3.14159)

PI = 3.14159

PI = 3.14159

---

8) Print a calculation.

In [13]:
print(1 + 2)

3

3

---

9) Print a string and a calculation.

In [16]:
print("3 cubed =", 3 ** 3)

3 cubed = 27

3 cubed = 27

---

10) Display a name in the format <em>&lt;last name&gt;, &lt;first name&gt;</em>

In [17]:
print("{1}, {0}".format("John", "Smith"))

Smith, John

Smith, John

---

11) Display the answer of an integer division and the remainder. There should not be any decimal points displayed.

In [21]:
ans = 13//5
rem = 13%5
print("13/5 = {0} remainder {1}".format(ans,rem))

13/5 = 2 remainder 3

13 / 5 = 2 remainder 3

---

12) Use two print statements that display on the same line.

In [29]:
print("This is on", end=' ') 
print("the same line.")

This is on the same line.

This is on the same line.

---

13) Concatentate the string with the addition.

In [30]:
print("1 + 2 =", 1 + 2)

1 + 2 = 3

1 + 2 = 3

---

14) Concatentate the string with the integer.

In [33]:
print("Number = ",int(99))

Number =  99

Number = 99

---

15) Use a single print statement to print on multiple lines.

In [34]:
print("This \nis on\nmultiple lines.")

This
is on
multiple lines.

This is
on multiple
lines.

---

16) Comment out the first line.

In [35]:
#print("This is just a comment.")
print("You should only see this line.")

You should only see this line.

You should only see this line.

---

17) Make some ASCII art!

In [43]:
print(".     .\n \ O /\n  - -\n   |\n   ^\n  / \ \n -   -")

.     .
 \ O /
  - -
   |
   ^
  / \
 -   -

<pre>
.     .
 \ O /
  - -
   |
   ^
  / \
 -   -
 </pre>

---

18) A couple of problems here....

In [45]:
print("Something's {0} right {1}".format("not","here."))

Something's not right here.

Something's not right here.

---

19) Add the contents of variables to a string using the old '%' method.

In [50]:
name = "John Smith"
age = 50
print('%s is %s years old.' % (name,age))

John Smith is 50 years old.

John Smith is 50 years old.

---

20) Add the contents of variables to a string using the cool new 'f-strings'.

In [51]:
name = "John Smith"
age = 50
print('{0} is {1} years old.'.format(name,age))

John Smith is 50 years old.

John Smith is 50 years old.

---

### Part C - Turtle (10pts)

Create the following image using the Python "Turtle" library. 

<div style="width:400px"><img src="img/star.png" /></div>

---

### Part D - Math (15pts)

Create a Python program that calculates the roots of a quadratic equation using the equation, $x = \large {-b \pm \sqrt{b^2 - 4ac} \over 2a}$.

You can assume that the equations used will always have two defined roots. (i.e. ${a \ne 0}$)

The program should allow the user to input the three variables of the formula, a, b, and c, and then output the resulting roots.

Example:

<div style="width:800px"><img src="img/quadratic.png" /></div>

In [53]:
import turtle
turtle.color("blue")
turtle.right(72)
turtle.forward(400)
turtle.right(144)
turtle.forward(400)
turtle.right(144)
turtle.forward(400)
turtle.right(144)
turtle.forward(400)
turtle.right(144)
turtle.forward(400)

In [1]:
print("Quadratic Root finder")
print(
    "Enter the values of a, b, and c for the quadratic equation in the form ax^2 + bx + c = 0")
#accepting values
a = float(input('enter a:'))
b = float(input('enter b:'))
c = float(input('enter c:'))
# determining the discriminate
d = (b**2 - (4*a*c))**(1/2)
#calculating roots
x1 = (-b+d)/(2*a)
x2 = (-b-d)/(2*a)
#printing roots
print('the two roots of this quadratic equation are: {0} and {1}'.format(x1,x2))

Quadratic Root finder
Enter the values of a, b, and c for the quadratic equation in the form ax^2 + bx + c = 0
enter a:2
enter b:-8
enter c:4
the two roots of this quadratic equation are: 3.414213562373095 and 0.5857864376269049